Repository redpanda-data/console, pull requests merged in 2025-05, with the labels that each got.

#1759 frontend: Improve playwright e2e test setup
  frontend/.gitignore
  frontend/bun.lock
  frontend/package.json
  frontend/playwright.config.ts
  frontend/playwright.enterprise.config.ts
  frontend/tests/console-enterprise/roles.spec.ts
  frontend/tests/console-enterprise/users.spec.ts
  frontend/tests/console/connector.spec.ts
  frontend/tests/console/core.spec.ts
  frontend/tests/console/schema.spec.ts
  frontend/tests/console/topic.spec.ts
  frontend/tests/console/transforms.spec.ts
  frontend/yarn.lock
Labels: frontend, ui/ux

#1761 Hide debug bundle button in embedded mode
  frontend/src/components/layout/Header.tsx
Labels: bug, frontend, ui/ux

#1765 Only render deebug button for redpanda clusters
  frontend/src/components/layout/Header.tsx
Labels: frontend

#1752 frontend: Use more gRPC services
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/pages/agents/create/templates/http/redpanda-user-and-permissions-form.tsx
  frontend/src/components/pages/agents/details/toggle-pipeline-state-button.tsx
  frontend/src/components/pages/agents/details/update-pipeline-modal.tsx
  frontend/src/components/pages/secrets/create-secret-modal.tsx
  frontend/src/components/pages/secrets/delete-secret-modal.tsx
  frontend/src/components/pages/secrets/update-secret-modal.tsx
  frontend/src/components/pages/topics/create-topic-modal.tsx
  frontend/src/components/pages/users/create-user-with-secret-password-modal.tsx
  frontend/src/react-query/api/acl.tsx
  frontend/src/react-query/api/agent.tsx
  frontend/src/react-query/api/authentication.tsx
  frontend/src/react-query/api/cluster-status.tsx
  frontend/src/react-query/api/console.tsx
  frontend/src/react-query/api/debug-bundle.tsx
  frontend/src/react-query/api/license.tsx
  frontend/src/react-query/api/pipeline.tsx
  frontend/src/react-query/api/secret.tsx
  frontend/src/react-query/api/security.tsx
  frontend/src/react-query/api/topic.tsx
  frontend/src/react-query/api/transform.tsx
  frontend/src/react-query/api/user.tsx
  frontend/src/utils/toast.utils.tsx
  frontend/yarn.lock
Labels: frontend, ui/ux

#1769 frontend: Fix AI agent pipeline filtering
  frontend/src/react-query/api/agent.tsx
Labels: bug, frontend, ui/ux

#1773 frontend: Make sure the internal topics are hidden for AI agents
  frontend/src/components/pages/agents/create/templates/http/redpanda-user-and-permissions-form.tsx
  frontend/src/components/pages/topics/create-topic-modal.tsx
  frontend/src/react-query/api/topic.tsx
Labels: frontend, ui/ux

#1791 frontend: enable AI agents in serverless UI 2.8
  frontend/src/components/routes.tsx
Labels: frontend, ui/ux
